{% load static %}

<!DOCTYPE html/>
<html>
	<head>
		<title>Nasdaq Tech Stocks</title>
		<link href="{% static 'stocks/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
		<link href="{% static 'stocks/css/dashboard.css' %}" rel="stylesheet"/>
	</head>
	<body>
		<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
	      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Nasdaq Stocks</a>
	    </nav>
	    <div class="container-fluid">
	      <div class="row">
	        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
	          <div class="sidebar-sticky">
	            <ul class="nav flex-column">
	              {% for data in all_stocks %}
	              <li class="nav-item">
	                <!-- <a data-stock-id="{{ data.stock_id }}" class="nav-link {% if forloop.first %}active{% endif %} stock" href="{% url 'index' %}?stock_id={{ data.stock_id }}"> -->
	                <a data-stock-id="{{ data.stock_id }}" class="nav-link {% if stock_id == data.stock_id %}active{% endif %} stock" href="{% url 'index' %}?stock_id={{ data.stock_id }}">
	                  <span data-feather="feather"></span>
	                  {{ data.symbol }} 
	                  <!-- <span class="sr-only">{% if forloop.first %}(current){% endif %}</span> -->
	                  <!-- <span class="sr-only">{% if forloop.first %}(current){% endif %}</span> -->
	                </a>
	              </li>
	              {% endfor %}	            
	            </ul>        
	          </div>
	        </nav>

	        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
	          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">{{ stock_qs.symbol }}</h1>
				<p class="h5">{{ stock_qs.company_name }}</p>
	          </div>
	          <div id="timeseries-div"></div>
	          <div id="plotly-div"></div>
	        </main>
	      </div>
	    </div>
	    {% csrf_token %}
		<!-- JavaScript section -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{% static 'stocks/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'stocks/js/plotly-latest.min.js' %}"></script>
		<script type="text/javascript">
		    var stock_json = '{{ stock_json }}'.replace(/&quot;/g,'"');
		    var data = JSON.parse(stock_json);
		    var x = [];
			var close = [];
			var high = [];
			var low = [];
			var open = [];
			for (var i = 0; i < data.length; i++){
			    x.push(new Date(data[i].fields.date));
			    open.push(data[i].fields.open_price);
			    close.push(data[i].fields.close_price);
			    high.push(data[i].fields.high_price);
			    low.push(data[i].fields.low_price);
			}
			var maxdate = new Date(Math.max.apply(null, x));
			var mindate = new Date(Math.min.apply(null, x));
			var maxprice = Math.max.apply(null, low);
			var minprice = Math.min.apply(null, high);
			$('.stock').on('click', function(e) {
			    var stock_id = $(this).data('stock-id');
			    var url = "{% url 'index' %}";
			    // alert('I\'m about to query stock id: [' + stock_id + ']' + url);
			    $.ajax({
	                 type:"GET",
	                 url:"{% url 'index' %}",
	                 data: {
	                        'stock_id': stock_id
	                        },
	                 success: function(){
	                     console.log('AJAX success');
	                 }
            	});
			});
		</script>
		<script src="{% static 'stocks/js/candlestick.js' %}"></script>
		<script src="{% static 'stocks/js/timeseries.js' %}"></script>
	</body>
</html>